
.App {
  text-align: center;
}

.color {
  background-color: red;
}

.card {
  margin-top: 30px;
}

.header {
  background-color: #444444;
  color: white;
  text-align: center;
  padding-top: 30px;
}

.login {
  text-align: center;
}

.searchbar {
  margin-left: auto;
  margin-right: auto;
}

.searchbar:hover {

}
